body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}
h1 {
    color: #e23131;
}
.logo{
    display:flex;
    justify-content: center;
}
.logo img{
    width: 1000px;
}